<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div id="form-container">
      <div class="page-header text-center">
        <h2>Game of Drones (UruIT Technical Test by jfgaviria@gmail.com)</h2>
      </div>

      <form id="gameOfDronesForm">
        <div id="form-views" ui-view></div>
      </form>
    </div>

    <!--<pre>
      {{ players }}
    </pre>-->
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="text-center">
      <a ui-sref="admin.movements">Admin Movements</a>
    </div>
  </div>
</div>